<template>
    <div>
        <div class="row">
            <div class="col-6">
                <link-new/>
            </div>
            <div class="col-6">
                <link-items v-model="addedLink"/>
            </div>
        </div>
    </div>
</template>

<script>
    import LinkItems from './link.items';
    import LinkNew from "./link.new";

    export default {
        name: "link.index",

        components: {
            LinkItems, LinkNew
        },

        data() {
            return {
                newLink: null
            }
        },

        mounted() {
            this.$on('input', data => {
                console.log(data);
            });
        }
    }
</script>

<style scoped>

</style>