<template>
    <ul v-if="links">
        <li v-for="link in links">
            <span class="">{{ link.origin_link }}</span>
            <button class="btn btn-link" @click="redirectTo(link.id)">{{ link.generated_link }}</button>
        </li>
    </ul>
</template>

<script>
    export default {
        name: "link.items",

        props: {
            'value': {
                required: true
            }
        },

        data() {
            return {
                links: []
            }
        },

        methods: {
            fetchData() {
                this.$http.get('api/links')
                    .then(r => {
                        return r.json();
                    })
                    .then(data => {
                        this.links = data.data;
                    })
                    .catch(e => {
                        console.log(e);
                    });
            },

            redirectTo(linkId) {
                this.$http.get('api/links/' + linkId)
                    .then(r => {
                        return r.json();
                    })
                    .then(data => {
                        window.location = data.data.origin_link;
                    })
                    .catch(e => {
                        console.log(e);
                    });
            },
        },

        mounted() {
            this.fetchData();
        }
    }
</script>
