<template>
    <div>
        <div class="form-group">
            <input class="form-control" type="url" v-model="link">
        </div>
        <div class="form-group">
            <button @click="createLink" class="btn btn-primary form-control">Create url</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "link.new",

        data() {
            return {
                link: null
            }
        },

        methods: {
            createLink() {
                this.$http.post('api/links', {link: this.link})
                    .then(r => {
                        return r.json();
                    })
                    .then(data => {
                        this.links.push(data.data);
                        this.clearData();
                    })
                    .catch(e => {
                        console.log(e.data.error);
                    });
            },

            clearData() {
                this.link = null;
            }
        },
    }
</script>

<style scoped>

</style>