<template>
    <div class="container">
        <link-index></link-index>
    </div>
</template>

<script>
    import LinkIndex from './link/link.index';

    export default {
        name: "home.index",

        components: {
            LinkIndex
        },

        data() {
            return {}
        },
    }
</script>

<style scoped>

</style>